@import url(./fonts.css);
@import url(./fontello.css);

/* 기본 글꼴 - 웹폰트 */
html,body{
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html{
  font-size: 10px;
}

body{
  font-size: 1.4rem;
  color: #000;
  background-color: #ccc;
}

/* 숨김 콘텐츠 */
.a11y-hidden{
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0,0 0,0 0);
}

/* 링크 스타일 */
a{
  text-decoration: none;
  color: inherit;
}

/* 박스 사이징 재정의 */
*,*::before, *::after{
  box-sizing: border-box;
}

/* 건너뛰기 링크 */
.skip-nav{
  background-color: #000;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.skip-nav a{
  display: inline-block;
  padding: 10px;
  position: absolute;
}

.skip-nav a:focus{
  outline-offset: -4px;
  position: static;
}

/* 레이아웃 */
.header,.visual,.main,.slogan,.footer-inner{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background-color: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  /* height: 10vh; */
}

/* 로고 */
.logo{
  margin: 0;
  font-size: 1em;
  position: absolute;
  top: 43px;
  left: 60px;
}

.logo a{
  display: block;
}

.logo img{
  /* background-color: blueviolet; */
  vertical-align: top;
}

/* 멤버 서비스 링크 */
.member-service{
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  /* font-size: 0; */
  text-align: right;
  transform: translateX(10px);
}

.member-service li{
  display: inline-block;
  padding: 4px 0;
  text-transform: uppercase;
  /* background-color: tomato; */
  /* font-size: 1rem; */
}

.member-service a{
  display: inline-block;
  padding: 6px 10px;
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 35px;
}

.menu{
  border-top: 2px solid #000;
  height: 47px;
  margin: 0;
  padding-left: 230px;
  list-style: none;
  background: #dd422a linear-gradient(to bottom, #e0a12c 0%,#ea392c 30%,#207cca 78%,#e0652c 100%);
  border-radius: 0 0 5px 5px;
}

.menu-item{
  float: left;
  border-left: 2px solid #fff; 
  position: relative;
}

.is-active .menu-button{
  color: #ff0;
}

.is-active .menu-button::after{
  content: "";
  display: block;
  background: #000;
  height: 2px;
}

.menu-button{
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0 23px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}

.is-active .sub-menu{
  display: block;
}

.menu-html, .menu-css, .menu-standards{
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive{
  right: 0;
}


.sub-menu{
  margin: 0;
  padding-left: 0;
  list-style: none;
  position: absolute;
  display: none;
  top: 47px;
  white-space: nowrap;
}

.sub-menu li{
  display: inline-block;
}

.sub-menu a{
  display: inline-block;
  padding: 6px 10px;
}

.sub-menu a::before{
  content: "\f192";
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
}

.sub-menu a:focus{
  outline: none;
}

.sub-menu a:hover, .sub-menu a:focus{
  color: #f00;
}

.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: "\e800";
}

/* 비주얼 */
.visual{
  height: 10vh;
}
/* 메인콘텐츠 */
/* flex를 활용한 메인콘텐츠 배치 */
/*.main{
  background-color: blue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px;
}*/

/* float을 활용한 메인콘텐츠 배치 */
.main{
  display: flow-root;
  min-height: 450px;
  padding: 30px 15px;
}

/* .clearfix::after{
  content: "";
  background-color: red; 
  clear: both;
  display: block;
} */

.group{
  margin: 0 15px;
  float: left;
}

.group1{
  width: 250px;
  float: right;
}

.group2{
  width: 380px;
}
.group3{
  width: 190px;
}

/* 슬로건 */
.slogan{
  height: 10vh;
}
/* 푸터 */
.footer{
  height: 10vh;
}

